# Git
.git
.gitignore

# Ignore system-specific files
.DS_Store
Thumbs.db

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Ruff Lint
/app/.ruff_cache
